@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&family=Rajdhani:wght@400;500&family=Saira+Extra+Condensed:wght@500&family=Teko:wght@300;400&display=swap');

body {
  font-family: 'Quantico', sans-serif;
  height: 100vh;
  background-color: aliceblue;
  background: url("https://i.ibb.co/0JcZvRr/seafloor.png") no-repeat bottom right, linear-gradient(315deg, #589ed8 0%, #e5eef9 100%);
  background-size: contain;
  //   overflow: hidden;
}

#heading {
  // font-size: 2rem;
  // font-weight: 700;
  margin-bottom: 20px;
  color: rgb(102, 195, 164);
}

// App
.container {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.solutions-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.code-editor {
  display: flex;
  justify-content: center;
}

.problem-list {
  font-size: 2rem;
  border: thick groove #2366a6;
  border-radius: 20px;
  padding: 20px;
  background-color: #7db3b94b;
}

#indivAlgo {
  margin: 20px;
  border: solid #589ed8;
  background-color: rgba(240, 248, 255, 0.308);
  border-radius: 10px;
  padding: 10px;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

#submit {
  width: 40%;
  margin: 20px;
}

#solution {
  width: 90%;
  max-width: 1000px;
  height: 250px;
  padding: 15px;
  border: 1px solid #dbd9d9;
  border-radius: 5px;
  color: rgb(81, 248, 231);
  background-color: rgb(51, 47, 47);
  //   margin-bottom: 10px;
}

#prompt {
  color: rgb(81, 248, 231);
  background-color: rgb(51, 47, 47);
}

#yetiCrabsss {
  display: flex;
  justify-content: center;
}